* {
	box-sizing: border-box;
}

section {
	background-color: #eeeeee;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	background-color: #eeeeee;
}

.container {
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}

.container.max {
	max-width: 1440px;
}



.header {
	background-color: #fff;
	padding: 20px 0%;
   position: relative;
   z-index: 1;
}

.logo {
	width: 85px;
	height: 24px;
}

.menu {
	display: flex;
	justify-content: space-between;
}

.main-menu {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	transition: all 0.3s ease;
}

.menu-list {
	margin: auto 46px auto 0;
	position: relative;
}

.menu-list:last-child {
	margin-right: 0;
}

.menu-list:hover::before {
	top: 2px;
	left: -25px;
	content: url("stars.svg");
	position: absolute;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropbtn {
	cursor: pointer;
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: 1.96px;
	text-transform: uppercase;
	color: #011f3a;
}

.dropbtn:hover {
	border-bottom: 1px solid #011f3a;
}

.dropbtn::after {
	content: '▼';
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;

}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;

}

.dropdown-content a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}




/* .menu-img {} */

.menu-text {
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: 1.96px;
	text-transform: uppercase;
	color: #011f3a;

}

.menu-text:hover {
	border-bottom: 1px solid #011f3a;
}


.menu-third {
	margin: auto 0;
}

.section-intro {
	background-color: #f2ae4d;
	padding: 144.5px 0 205.5px;
}

@media(max-width:375px){
	.section-intro{
		padding: 80px 0;
	}
}

@media(max-width:600px){
	.section-intro{
		padding: 80px 0;
	}
}

.intro-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;

}

.intro-text {
	position: relative;
	width: 42.9%;
}

@media(max-width:1430px) {
	.intro-text {
		z-index: 2;
	}
}

@media(max-width:1140px) {
	.intro-text {
		width: 60%;
	}
}

@media(max-width:768px) {
	.intro-text {
		width: 80%;
	}
}

@media(max-width:640px) {
	.intro-text {
		width: 100%;
		text-align: center;
	}
}



.h1 {
	font-weight: 400;
	font-size: 48px;
	line-height: 1.16;
	margin: 0;
	margin-bottom: 33px;
}

@media(max-width:378px){
	.h1{
		font-size: 36px;
	}
}

.intro-desc {
	width: 57.7%;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 35px;
	margin: 0;
}

@media(max-width:640px) {
	.intro-desc {
		width: 100%;
		text-align: center;
      margin-bottom: 60px;
	}
}


.intro-img {
	max-width: 608px;
	max-height: 504px;
	position: absolute;
	right: 10%;
}

.intro-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


@media(max-width:1430px) {
	.intro-img {
		position: absolute;
		right: 0%;
		margin-right: 0;
	}
}

/* @media(max-width:610px){
	.intro-img{
		width: 400px;
	}
} */


.intro-button {
	padding: 19px 29px;
	text-decoration: none;
	background-color: #3d5675;
	border-radius: 44px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: 1.96px;
	text-transform: uppercase;
	color: #ffffff;
	transition: all 0.3s ease;
}

.intro-button:hover {
	background-color: #fff;
	color: #000;
}

.section-partners {
	padding: 20px 0;
	background-color: #fff;
   position: relative;
   z-index: 1;
}

.partners-wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
}

.partner {
	display: flex;	
	align-items: center;
	margin-right: auto;
	text-align: center;
}

.partner:last-child{
	margin-right: 0;
}

@media(max-width:768px) {
	.partner {
		display: flex;
		flex-direction: column;
		margin-right: auto;
	}
}

@media(max-width:432px) {
	.partner:first-child {
		margin-right: auto;
	}
}

@media(max-width:432px) {
	.partner {
		margin-right: 0;
	}
}

@media(max-width:308px) {
	.partner:first-child {
		margin: 0;
	}
}


.partner img {
	padding-right: 16px;

}

@media(max-width:768px) {
	.partner img {
		padding: 0;
	}
}


.partner-text {
	width: 31.4%;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.27;
	letter-spacing: 0.6px;
	color: #a1a1a1;
	margin: 0;
}

@media(max-width:768px) {
	.partner-text {
		width: 100%;
		text-align: center;
	}
}

.section-products {
	background-color: #eeeeee;
}

.product-intro {
	display: flex;
	padding: 57px 0;
	align-items: center;
}

@media (max-width: 768px) {
	.product-intro {
		flex-direction: column;
}
}

.product-intro p {
	font-weight: 400;
	font-size: 32px;
	line-height: 1.18;
	color: #011f3a;
	margin: 0;
}

@media (max-width: 768px) {
	.product-intro p {
		text-align: center;
      margin-bottom: 20px;
	}
}

.product-intro a {
	margin: 0 0 0 auto;
	font-weight: 700;
	height: max-content;
	display: block;
	font-size: 14px;
	line-height: 1.29;
	text-align: center;
	letter-spacing: 1.96px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 13px 25px;
	background: #3d5675;
	border-radius: 44px;
	text-decoration: none;
	transition: all 0.3s ease;
}

.product-intro a:hover {
	background-color: #f2ae4d;
	color: #000;
}

@media (max-width: 768px) {
	.product-intro a {
		margin: 0;
	}
}

.products-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 46px;
	justify-content: center;
}

@media(max-width:478px){
	.products-list{
		flex-direction: column;
      width: 100%;
	}
}

.product {
	background-color: #fff;
	width: calc(33% - (6px / 3));
	margin-right: 2px;
	margin-bottom: 2px;
}

.product img {
	width: 100%;
	height: auto;
}

.product:last-child {
	padding-right: 0;
}

@media (max-width: 1200px) {
	.product {
		text-align: center;
		width: calc(50% - (6px / 3));
		padding: 25px 0;
	}
}

@media (max-width: 478px) {
	.product {
		text-align: center;
		width: calc(100% - (6px / 3));
		padding: 25px 0;
	}
}


.product__name {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.16;
	letter-spacing: 0.36px;
	color: #011f3a;
	margin: 24px 0 8px 25px;
}

@media (max-width: 1200px) {
	.product__name {
		margin: 25px 0;
	}
}

.product__info {
	display: flex;
	margin: 0 25px 4px;
}

@media (max-width: 1200px) {
	.product__info {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.product__desc {
	width: 67%;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.6;
	color: #777777;
	margin: 0;
}

@media (max-width: 1200px) {
	.product__desc {
		margin: 8px;
	}
}

.product__price {
	font-weight: 400;
	font-size: 15px;
	line-height: 1.6;
	text-align: right;
	color: #a1a1a1;
	margin: 0;
}

.product-end {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
}

@media(max-width:768px){
	.product-end {
		flex-direction: column;
      
	}
}

.product-end p {
	font-weight: 700;
	font-size: 15px;
	line-height: 1.6;
	color: #a1a1a1;
	margin: 0;
	margin-right: 41px;
}

@media(max-width:768px){
	.product-end p{
		padding: 0;
      margin: 0 0 20px;
      
	}
}

.product-end a {
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: 1.96px;
	text-transform: uppercase;
	color: #3d5675;
	padding: 13px 25px;
	background-color: #fff;
	border-radius: 44px;
	transition: all 0.3s ease;
}

.product-end a:hover {
	background-color: #3d5675;
	color: #fff;
}

.section-procces {
	background-color: #eeeeee;
}

.procces-back {
	background-color: #72bda3;
	margin: 0 0 70px;
	box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
	border-radius: 0px;
}

.procces-back h2 {
	text-align: center;
	padding-top: 86px;
	padding-bottom: 46px;
	font-weight: 400;
	font-size: 32px;
	line-height: 1.28;
	color: #011f3a;
	margin: 0;
}

@media(max-width:999px) {
	.procces-back h2 {
		padding: 86px 20px 46px;

	}
}

.procces-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 50px;
}

.procces {
	display: flex;
	flex-direction: column;
	width: calc(33% - (200px / 3));
	align-items: center;
	margin-right: auto;
}

@media(max-width:768px) {
	.procces-list {
		flex-direction: column;
		align-items: center;
		margin: 0;
	}
}



@media(max-width:999px) {
	.procces:first-child {
		margin-right: auto;
		width: calc(50% - (200px / 3));

	}
}

@media(max-width:999px) {
	.procces {
		margin: 0;
		width: calc(50% - (200px / 3));
		padding-bottom: 30px;

	}
}

@media(max-width:768px) {
	.procces:first-child {
		margin-right: 0;
      width: 100%;
	}
}

@media(max-width:768px) {
	.procces {
		width: 100%;
	}
}


.procces:last-child {
	margin-right: 0;
}


.procces__info {
	text-align: center;
	width: 67.5%;
}

@media(max-width:999px) {
	.procces__info {
		width: 100%;

	}
}

.procces__name {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.28;
	letter-spacing: 0.36px;
	color: #011f3a;
	margin: 0;
	margin-top: 12px;
	margin-bottom: 10px;
}

.procces__desc {
	font-weight: 400;
	font-size: 15px;
	line-height: 1.6;
	color: #3d5675;
	margin: 0;
}

.procces-end {
	padding: 87px 0 101px;
	text-align: center;
}

@media(max-width:999px) {
	.procces-end {
		padding: 50px 0 80px;

	}
}

.procces-end a {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: 1.96px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 13px 25px;
	background-color: #3d5675;
	border-radius: 44px;
	text-decoration: none;
	transition: all 0.3s ease;
}

.procces-end a:hover {
	background-color: #f2ae4d;
	color: #000;
}

.advantage-wrap {
	padding: 82px 42px 142px;
}

@media(max-width:768px) {
	.advantage-wrap {
		padding: 30px 42px;
	}
}


.h3 {
	font-weight: 700;
	font-size: 32px;
	line-height: 1.28;
	color: #011f3a;
	margin: 0;
	padding-bottom: 82px;
}

@media(max-width:999px) {
	.h3 {
      padding-bottom: 40px;
	}
}

.advantage-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media(max-width:768px) {
	.advantage-list {
		display: flex;
		align-items: center;
		flex-direction: column;

	}
}

.advantage {
	display: flex;
	flex-direction: column;
	width: calc(33% - (354px / 3));
	margin-right: 177px;
}



@media(max-width:999px) {
	.advantage {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: calc(50% - (354px / 3));
		margin: 0;
	}
}

@media(max-width:768px) {
	.advantage {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		margin: 0;
		align-items: center;
	}
}

@media(max-width:999px) {
	.advantage img {
		width: 254px;
	}
}

@media(max-width:999px) {
	.advantage:first-child {
		margin-right: 177px;
	}
}

@media(max-width:768px) {
	.advantage:first-child {
		margin-right: 0px;
	}
}



.advantage:last-child {
	margin-right: 0;
}



.advantage__info {
	text-align: start;
}

.advantage__name {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.28;
	letter-spacing: 0.36px;
	color: #011f3a;
	margin: 0;
	padding-top: 54px;
	padding-bottom: 12px;
}

.advantage__desc {
	font-weight: 400;
	font-size: 15px;
	line-height: 1.6;
	color: #a1a1a1;
	padding-bottom: 2px;
}

.request-back {
	background-color: #ffca3a;
	box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
	border-radius: 0px;
	margin: 60px 0;
	padding: 100px 0;
}

.request-list {
	display: flex;
}

@media(max-width:999px) {
	.request-list{
      flex-direction: column;
      align-items: center;
   }
}


.request-wrap {
	width: 50%;
	border-left: 2px solid #a1a1a166;
}

@media(max-width:999px) {
	.request-wrap {
		width: 100%;
      border-top: 2px solid #a1a1a166;
      border-left: 0;
	}
}

.request-wrap:first-child {
	border: 0;
   padding-bottom: 60px;
}

@media(max-width:999px) {
	.request-wrap:last-child {
		padding-top: 60px;
	}
}

.request {
	padding: 0 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media(max-width:999px) {
	.request {
		padding: 0 60px;
	}
}

.request__name {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.5;
	text-align: center;
	color: #011f3a;
	margin: 0;
	padding-top: 24px;
	padding-bottom: 14px;
}

.request__desc {
	font-weight: 400;
	font-size: 15px;
	line-height: 1.6;
	text-align: center;
	color: #3d5675;
	margin: 0;
	padding-bottom: 13px;
	width: 87%;
}

@media(max-width:999px) {
	.request__desc {
      width: 100%;
		padding-bottom: 40px;
	}
}

.request__button {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: 1.96px;
	text-transform: uppercase;
	color: #3d5675;
	background-color: #ffffff;
	border-radius: 44px;
	padding: 13px 25px;
	transition: all 0.3s ease;
	text-decoration: none;
	text-align: center;
}

.request__button:hover {
	background-color: #3d5675;
	color: #fff;
}

.feedback-wrap {
	padding-top: 88px;
}

@media(max-width:478px) {
	.feedback-wrap {
      padding-top: 30px;
	}
}

.h4 {
	line-height: 1.19;
	text-align: center;
	padding-bottom: 59px;
}

.feedback-back {
	background-color: #fff;
	box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
	border-radius: 0px;
	margin-bottom: 57px;
}

.feedback-grade {
	display: flex;
	padding: 100px 0;
   
}

@media(max-width:768px) {
	.feedback-grade {
		flex-direction: column;
      align-items: center;
	}
}

.feedback {
	width: 208px;
   height: 114px;
	display: flex;
	flex-direction: column;
	align-items: center;
   margin: 0 auto 50px;
}

@media(max-width:768px) {
	.feedback:last-child {
		margin-bottom: 0;
      border: 0;
	}
}

.feedback:first-child {
	border: 0;
}

.feedback img{
   object-fit: cover;
}

.google {
	padding-bottom: 20px;
}


.feedback-second:nth-child(1) {
	display: flex;
	padding-bottom: 55px;
}

.feedback-second:nth-child(2) {
	display: flex;
	flex-direction: row-reverse;
	padding-bottom: 55px;
}

.feedback-second:nth-child(3) {
	display: flex;
}

@media(max-width:1140px) {
	.feedback-second:nth-child(-n+3) {
		display: flex;
		flex-direction: column;
	}
}


.autor__quote {
	font-family: "Lato";
	font-weight: 400;
	font-size: 24px;
	line-height: 1.33;
	color: #011f3a;
	margin: 0;
	padding-bottom: 12px;
}

@media(max-width:1140px) {
	.autor__quote {
		text-align: center;
	}
}

.autor {
	display: flex;
	flex-direction: column;
	padding: 62.5px 106px;
}

@media(max-width:1235px) {
	.autor {
		padding: 62.5px 50px;
	}
}



@media(max-width:1140px) {
	.autor {
		padding: 62.5px 50px;
	}
}



.autor__info {
	display: flex;
	flex-direction: column;
	padding-right: 18px;
}

.autor__name {
	font-family: "Lato";
	font-weight: 400;
	font-size: 18px;
	line-height: 1.22;
	color: #011f3a;
	margin: 0;
}

.autor__post {
	font-size: 15px;
	line-height: 1.6;
	color: #a1a1a1;
}

@media(max-width:1140px) {
	.autor__post {
		line-height: normal;
	}
}



.autor-wrap {
	display: flex;
	align-items: center;
}

@media(max-width:1140px) {
	.autor-wrap {
		display: flex;
		justify-content: center;
	}
}


.autor__photo {
	padding-right: 20px;
}

.autor__btn {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: 1.96px;
	text-transform: uppercase;
	color: #3d5675;
	padding: 13px 25px;
	background-color: #f2f2f2;
	border-radius: 44px;
	text-decoration: none;
	transition: all 0.3s ease;
	text-align: center;
}

.autor__btn:hover {
	background-color: #f2ae4d;
	color: #3d5675;
}

.total-wrap {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
	padding-top: 120px;
	text-align: center;
	padding-bottom: 150px;
}

@media(max-width:999px) {
	.total-wrap {
		padding: 30px 0 100px;
	}
}

.total-wrap h3 {
	padding-bottom: 68px;
}

@media(max-width:999px) {
	.total-wrap h3 {
      margin-bottom: 50px;
      padding: 0;
	}
}

.total-btn{
   display: flex;
   justify-content: center;
}

@media(max-width:999px) {
	.total-btn {
		flex-direction: column;
      align-items: center;
	}
}

.total-btn a {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: 1.96px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 13px 25px;
	background-color: #3d5675;
	border-radius: 44px;
	text-decoration: none;
	transition: all 0.3s ease;
	margin-right: 11px;
}

.total-btn a:hover {
	background-color: #fff;
	color: #3d5675;
}

.total-btn a:last-child {
	margin-right: 0;
}

@media(max-width:999px) {
	.total-btn a:first-child {
      margin: 0 0 30px;

	}
}

@media(max-width:999px) {
	.total-btn a:last-child{
      margin-bottom: 0;
	}
}

.footer {
	min-height: 365px;
	background-color: #f2f3f4;
}

.footer-wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 60px 0;
}

.footer-items {
	display: flex;
	flex-direction: column;
}

.footer-items a {
	font-weight: 400;
	font-size: 15px;
	line-height: 1.2;
	color: #3d5675;
	margin: 0;
	margin-bottom: 17px;
	text-decoration: none;
}

.social-app a {
	width: 20px;
	height: 20px;
	padding-right: 11px;
}


.social-app img:last-child {
	padding-right: 0;
}

.form {
	max-width: 280px;
}

.form p {
	font-weight: 400;
	font-size: 15px;
	line-height: 1.2;
	color: #3d5675;
	margin: 0;
	padding-bottom: 13px;
}

.form input {
	border: 0;
	background-color: #ffffff;
	border-radius: 34px;
	color: #3d5675;
	padding: 9px 0 9px 18px;
	height: 36px;
	width: 100%;
	margin-bottom: 12px;
	outline: none;
}


.form input::placeholder {
	color: #3D567566;
	text-align: start;
}

@media(max-width:999px) {
	.form input {
		width: 80%;
	}
}

.form button {
	background-color: #3D5675;
	border-radius: 44px;
	border: 0;
	color: #fff;
	padding: 12px 33px;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.16;
	font-family: "Roboto", sans-serif;
	cursor: pointer;

}